# Copyright (C) 2013 SpidaWeb LLC, http://www.spidasoftware.com
#
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

########################################################################################
#                                 Instructions                                         #
########################################################################################
# If you would like to add formatters, simply add the extension of the type of file that
# will be formatted, followed by an equal sign, then finally the command that you would enter
# into bash to have it run. To add formatters that do not recognize the source code files
# by extension, but by the contents of the first line of the file, you may add that 
# formatter into conf/hashBang.cfg. The formatters in the hashBang.cfg file will only be used
# on files that have no extension.
#
# As you can see below, js-beautify is commented out. If you were to install js-beautify onto
# your system, you can then uncomment that line out, which will cause java script to be one of 
# the languages that this program can format.


java = java -jar ${SCRIPT_LOCATION}/formatters/EclipseFormatter.jar -java
groovy = java -jar ${SCRIPT_LOCATION}/formatters/EclipseFormatter.jar -groovy
#js = js-beautify -r --replace
